@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
    font-weight: 700;
}

.pg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #17171b, #28282f);
}

.countUp {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.date {
    position: absolute;
    font-size: 20px;
    left: 10px;
    bottom: 10px;
}